.left-side {
  flex: 1;
  background-color: #25245D;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.regent-logo {
  width: 500px;
  height: auto;
}

.left-side-text {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #eee;
}